<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profiles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{navbar.html}"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">
            <h2>Search User</h2>
            <form th:action="@{/admin/profiles/search}" method="get">
                <div class="form-group">
                    <label for="search">Search username(multiple results possible) or email(unique):</label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Enter username or email">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2>Search Results</h2>
            <div th:if="${results}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${results}">
                        <td th:text="${result.id}"></td>
                        <td th:text="${result.userName}"></td>
                        <td th:text="${result.email}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${message}">
                <p th:text="${message}"></p>
            </div>
        </div>
        <div class="col-md-1">
            <form th:action="@{/admin/logout}" method="post">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Users Profile</h2>
            <p>Admin can delete any profile but its own.</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <div th:if="${user.id != 1}">
                            <form th:action="@{/admin/profiles/delete/{id}(id=${user.id})}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5">
            <h2>Users Log</h2>
            <p>Admin can watch all website activity.</p>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Last Visit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="visit : ${visits}">
                    <td th:text="${visit.id}"></td>
                    <td th:text="${visit.email}"></td>
                    <td th:text="${visit.lastVisit}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
