<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="/user/register">user-register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/login">user-login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/login">admin-login</a>
    </li>
  </ul>
</nav>
</body>
</html>