<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to Your Website</h1>
    <p>Choose an option below to login:</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">User Login</h5>
          <p class="card-text">Login as a regular user.</p>
          <a th:href="@{/userLogin}" class="btn btn-primary">User Login</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Admin Login</h5>
          <p class="card-text">Login as an administrator.</p>
          <a th:href="@{/adminLogin}" class="btn btn-primary">Admin Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
l>